<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TP1 SpringBoot</title>
</head>
<body>
<a href="/employee">Home</a>
<table>
    <tr>
        <td>Nom :</td>
        <td th:text="${employee.name}"></td>
    </tr>
    <tr>
        <td>Adresse :</td>
        <td th:text="${employee.adress}"></td>
    </tr>
    <tr>
        <td>Nom :</td>
        <td th:text="${employee.name}"></td>
    </tr>
    <tr>
        <td>Nom :</td>
        <td th:text="${employee.name}"></td>
    </tr>
    <tr>
        <td>Nom :</td>
        <td th:text="${employee.name}"></td>
    </tr>
</table>
</body>
</html>